{% extends 'template.html.twig' %}{# empty Twig template #}
{% block principal %}
    <div class="log_prin">
        <div class="log_head">
            {% if error %}
                <div title="Echec de la connexion">
                    <span>Le mot de passe et le nom d'utilisateur renseignés ne correspondent pas.</span>
                </div>
            {% endif %}
            <h1>Connexion</h1>
        </div>
        <div class="log_main">
            <form method="post" action={{ path('login') }}>
                <div>
                    <label for='_username' class="legend">Nom d'utilisateur :</label>
                    <input type="text" name="_username" required/>
                </div>
                <div>
                    <label for='_password' class="legend">Mot de passe :</label>
                    <input type="password" name="_password" required />
                </div>
                <div >
                    <input name="_remember_me" type="checkbox" id="checkbox1" />
                    <label for="_remember_me">Souvenez-vous de moi!</label>
                </div>
                <div>
                    <button type="submit">Se connecter!</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}